/* stylesEditUser.css */

/* Estilo para la barra de navegación */
.navbar {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo .logo-button {
    display: flex;
    align-items: center;
}

.nav-logo .logo-image {
    height: 75px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para el formulario */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button[type="submit"] {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: #005bb5;
}

/* Estilo para el pie de página */
.footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
